@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;700&family=Montserrat:wght@500;600;700&family=Roboto:wght@400;500&family=Ubuntu:wght@400;500;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #0a2231;
}
#title{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 0;
    background-color: black;
    color: rgb(14, 206, 206);
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
}
.logo{
    width: 110px;
    cursor: pointer;
    margin-left: 5px;
    padding-left: 10px;
}
li,a,button{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #edf0f1;
    text-decoration: none;
    margin-top: 0px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    padding: 0px 15px;
}
.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}
.nav_links li a{
    transition: all 0.3s ease 0s;
}
.nav_links li a:hover{
    color: #0088a9;
}
button{
    margin-right: 17px;
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover{
    background-color: rgba(0, 136, 169, 0.6);
}